<h1 class="mt-5">{{title}}</h1>

<button class="btn btn-primary" (click)="toggleModal()">Add New Person</button>
@if (isModalOpen) {
  <app-modal title="Add new Person" (close)="toggleModal()">
    <app-persons-form></app-persons-form>
  </app-modal>
}

@if (persons()) {
  <div class="container">
    <div class="left">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Birthday</th>
          <th>Mail</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          @for (person of persons(); track person.id) {
            <tr app-person-list-item [person]="person"></tr>  
          }
        </tbody>
      </table>
    </div>
  </div>  
}
