<h1 class="mt-5">{{title}}</h1>

<div class="container mt-5">
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
              <a routerLink="/persons">Show persons</a>
            </h3>
        
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Random Quote</h3>
            @if (quotes$ | async; as quotes) {
                <figure class="text-center mb-0">
                  <blockquote class="blockquote">
                    <p class="pb-3">
                      <i class="fas fa-quote-left fa-xs text-primary"></i>
                      <span class="lead font-italic">{{quotes[0].quote}}</span>
                      <i class="fas fa-quote-right fa-xs text-primary"></i>
                    </p>
                  </blockquote>
                  <figcaption class="blockquote-footer mb-0">
                    {{quotes[0].author}}
                  </figcaption>
                </figure>
            } @else {
              <p>Loading random quote...</p>
            }
          </div>
        </div>
      </div>
    </div>
  
    Used technologies:
    <ul>
      <li>Angular 19</li>
      <li>Bootstrap 5</li>
    </ul>
  </div>