@if (person) {
    <td>{{ person.id }}</td>
    <td>{{ person.firstName }}</td>
    <td>{{ person.lastName }}</td>
    <td>{{ person.birthday | date}}</td>
    <td>{{ person.mail }}</td>
    <td>{{ person.phone }}</td>
    <td>
        <button class="btn btn-primary" [routerLink]="person.id.toString()">View</button> &nbsp; 
        <button class="btn btn-outline-primary" [routerLink]="['/admin/edit', person.id]">Edit</button> &nbsp; 
        <button class="btn btn-danger" (click)="deletePerson(person.id)">Delete</button>
    </td>
}